footer.footer
  .container
    .logos
      .row
        .col-5.col-md-3
          .logos-item
            img(src="static/i/logo-tema.jpg" srcset="static/i/logo-tema.jpg 1x, static/i/logo-tema@2x.jpg 2x" alt="")
        .col-7.col-md-3
          .logos-item
            img(src="static/i/logo-pampers.jpg" srcset="static/i/logo-pampers.jpg 1x, static/i/logo-pampers@2x.jpg 2x" alt="")
        .col-7.col-md-3
          .logos-item
            img(src="static/i/logo-nutrilon.jpg" srcset="static/i/logo-nutrilon.jpg 1x, static/i/logo-nutrilon@2x.jpg 2x" alt="")
        .col-5.col-md-3
          .logos-item
            img(src="static/i/logo-malyutka.jpg" srcset="static/i/logo-malyutka.jpg 1x, static/i/logo-malyutka@2x.jpg 2x" alt="")