.content-decor.content-decor--starfish-smiling
  picture
    source(type="image/webp" srcset="static/i/things/starfish-smiling.webp 1x, static/i/things/starfish-smiling@2x.webp 2x")
    source(type="image/png" srcset="static/i/things/starfish-smiling.png 1x, static/i/things/starfish-smiling@2x.png 2x")
    img(src="static/i/things/starfish-smiling.png" alt="" role="presentation")
.content-decor.content-decor--coconut
  picture
    source(type="image/webp" srcset="static/i/things/coconut.webp 1x, static/i/things/coconut@2x.webp 2x")
    source(type="image/png" srcset="static/i/things/coconut.png 1x, static/i/things/coconut@2x.png 2x")
    img(src="static/i/things/coconut.png" alt="" role="presentation")
.content-decor.content-decor--pineapple
  picture
    source(type="image/webp" srcset="static/i/things/pineapple.webp 1x, static/i/things/pineapple@2x.webp 2x")
    source(type="image/png" srcset="static/i/things/pineapple.png 1x, static/i/things/pineapple@2x.png 2x")
    img(src="static/i/things/pineapple.png" alt="" role="presentation")
.content-decor.content-decor--starfish
  picture
    source(type="image/webp" srcset="static/i/things/starfish.webp 1x, static/i/things/starfish@2x.webp 2x")
    source(type="image/png" srcset="static/i/things/starfish.png 1x, static/i/things/starfish@2x.png 2x")
    img(src="static/i/things/starfish.png" alt="" role="presentation")