.footer {
  padding-top: 25px;
  padding-bottom: 40px;
  position: relative;
  z-index: 0;

  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='360' height='47' viewBox='0 0 360 47' preserveAspectRatio='none'%3E%3Cpath d='m0 32.4878847c53.34107-1.7121841 128.763061-2.0053324 185.235852 3.1749557 80.698746 7.4025519 138.427694 11.8091342 163.554786 10.670162 11.209362-.5081029 11.209362-.5081029 11.209362-.5081029v-20.832221l-134.002831-7.6215443s-129.4854579-7.1378303-132.983798-7.1134414c-2.2227869.0151735-54.896685 6.5751368-93.01273944 11.3568636' fill='%23a4e7ff'/%3E%3Cpath d='m0 27.5869297c13.4096505-1.1787381 25.3515666-2.5074499 35.4406441-3.6104571 29.3958045-3.2137512 103.8238379-9.0670972 183.9339519 2.0324118 80.110115 11.0995089 140.625404 9.6296539 140.625404 9.6296539v-17.755367s-53.594583 6.1873003-73.879288 5.5851983-70.793682-12.4231172-96.807343-14.73498567c-26.013662-2.31186845-88.632218-3.54655863-106.4880779 1.52430887-13.5693735 3.8535526-48.0890182 8.4445037-82.82108631 10.7671475' fill='%23e29c2b'/%3E%3Cpath d='m.00911141 18.0926075c86.94487449-9.25460652 100.78881659-21.63332898 159.24017359-16.47266494 62.38354 5.50783603 50.878587 11.71177314 115.151425 16.76739754s85.59929-6.9593441 85.59929-6.9593441v12.0403736s-36.800561 5.1089752-93.751603.508103c-56.951042-4.6013804-107.320619-21.16045569-183.9365686-10.6701621-32.6860368 4.4753883-59.2104344 7.9382362-82.3118284 9.9509697' fill='%23ffc86f'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    content: '';
    height: 65px;
    left: 0;
    position: absolute;
    top: -40px;
    width: 100%;
    z-index: -1;

    @include media-breakpoint-up(md) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1049' height='129' viewBox='0 0 1049 129' preserveAspectRatio='none'%3E%3Cpath d='m0 99.5822134s162.709 13.141 238 7 309.617-13.569 468 1c158.383 14.569 271.684437 23.241617 321 21 22-1 22-1 22-1v-41l-263-15s-254.134-14.048-261-14c-6.866.047-259 32-259 32l-190-29-76-24z' fill='%23a4e7ff'/%3E%3Cpath d='m0 67.6577234s75.485 24.99649 165 28.92449c100.741 4.421 189.306-5.675 247-12s203.771-17.845 361 4c157.229 21.845 276 18.9521706 276 18.9521706v-34.9444277s-105.188 12.1772571-145 10.9922571-138.944-24.45-190-29-173.955-6.98-209 3-141.31 22.473-226 24-185.747-22.998-225-36-54-23.9915895-54-23.9915895z' fill='%23e29c2b'/%3E%3Cpath d='m0 0c5.044 3.671 102.164 94.9422134 306 76.5822134s226.564-46.84 349-36 99.856 23.05 226 33 168-13.6967203 168-13.6967203v23.6967203s-72.226 10.055-184 1c-111.774-9.056-210.631-41.646-361-21s-234.295 30.343-321 18c-81.824296-11.6482011-172.9855497-36.0078616-183-38.7175057' fill='%23ffc86f'/%3E%3C/svg%3E");
      height: 130px;
      top: -90px;
    }
  }
}

.logos-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 15px 10px;

  img {
    max-width: 100%;
    object-fit: contain;
  }
}