include ../mixins
block variables

doctype html
|
|
<html lang="ru">
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Клуб заботливых мам
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="")
  link(href="static/css/main.css" rel="stylesheet")
body
  .outer
    .wrapper
      include ../modules/header
      main.main
        .container
          .content
            block content
      include ../modules/footer
      include ../modules/things
  script(src="static/js/libs.min.js")
  script(src="static/js/scripts.js")
|
|
</html>